<% @_page_title = "修改密码" %>
<%= render "public/header1" %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

<div class="index_login" id="main">
	<div class="login_tit"><span>修改密码</span></div>
    <table width="880" border="0" cellspacing="0" cellpadding="0" class="index_reg">
    <tr>
      <td align="right"  height="20"> </td>
      <td> </td>
    </tr>
    <tr>
      <td width="8%" height="35" align="right"><%= f.label :password, "新密码" %></td>
      <td width="92%" height="35" align="left" style="color:#999;"><%= f.password_field :password, :class => "userkk", :autofocus => true %></td>
    </tr>
    <tr>
      <td height="35" align="right"><%= f.label :password_confirmation, "确认密码" %></td>
      <td height="35" align="left" style="color:#999;"><%= f.password_field :password_confirmation, :class => "userkk" %></td>
    </tr>
    <tr>
      <td height="70" align="right" class="dashedup"> </td>
      <td height="70" align="left" class="dashedup"><%= f.submit "确认修改", :class => "dlbut" %> </td>
    </tr>
    <tr>
      <td height="35" align="right"> </td>
      <td height="35" align="left"> </td>
    </tr>
  </table>
</div>
  <% end %>
<%= render "public/footer1" %>
